.pag{
    margin-left: 40px;
    margin-top:25px;
    margin-bottom: 10px;
    width:15em;
}

.tamanho{
    margin-left: 30px;
    margin-top:25px;
    margin-bottom: 10px;
    width:15em;
}

.cor{
    margin-left: 30px;
    margin-top:25px;
    margin-bottom: 10px;
    width:15em;
}

.espc{
    margin-left: 30px;
    margin-top:25px;
    margin-bottom: 10px;
    width:15em;
}

.salva{
    margin-left: 450px;
    margin-top:150px;
    margin-bottom: 100px;
    width:40em;
}

.frete{
    margin-left: 30px;
    margin-top:25px;
    margin-bottom: 30px;
    width:15em;
}

.info{
    margin-left: 20px;
    margin-top:25px;
    margin-bottom: 10px;
    width:5em;
}

.calc{
    margin-left: 5px;
    margin-top:90px;
    margin-bottom: 10px;
    width:15em;
}

.falta{
    margin-left: 550px;
    margin-top:70px;
    margin-bottom: 100px;
    width:40em;
}

.cadProd{
  display:flex;
  text-align: center;
  border: 2px solid black;
  width: 98.5vw;
  margin: 100px 0px 50px -151px;
  justify-content: center;
  font-size:x-large;
  background-color: antiquewhite;
}