.pag{
    margin-left: 40px;
    margin-top:25px;
    margin-bottom: 10px;
    width:15em;
}

.tamanho{
    margin-left: 30px;
    margin-top:25px;
    margin-bottom: 10px;
    width:15em;
}

.cor{
    margin-left: 30px;
    margin-top:25px;
    margin-bottom: 10px;
    width:15em;
}

.espc{
    margin-left: 30px;
    margin-top:25px;
    margin-bottom: 10px;
    width:15em;
}

.salva{
    margin-left: 250px;
    margin-top:50px;
    margin-bottom: 100px;
    width:40em;
}

.frete{
    margin-left: 30px;
    margin-top:25px;
    margin-bottom: 30px;
    width:15em;
}

.info{
    margin-left: 20px;
    margin-top:25px;
    margin-bottom: 10px;
    width:5em;
}

.calc{
    margin-left: 5px;
    margin-top:90px;
    margin-bottom: 10px;
    width:15em;
}
