.pag{
    margin-left: 40px;
    margin-top:25px;
    margin-bottom: 10px;
    width:15em;
}

.tamanho{
    margin-left: 30px;
    margin-top:25px;
    margin-bottom: 10px;
    width:15em;
}

.cor{
    margin-left: 30px;
    margin-top:25px;
    margin-bottom: 10px;
    width:15em;
}

.espc{
    margin-left: 30px;
    margin-top:25px;
    margin-bottom: 10px;
    width:15em;
}

.salva{
    margin-left: 30px;
    margin-top:130px;
    margin-bottom: 100px;
    width:40em;
}

.frete{
    margin-left: 30px;
    margin-top:25px;
    margin-bottom: 30px;
    width:15em;
}

.info{
    margin-left: 30px;
    margin-top:25px;
    margin-bottom: 10px;
    width:15em;
}