.container > div{
	margin: 2;
	display: flex;
	justify-content: center;
}

.item {
	flex: 1;
}

.cat{
	display:flex;
  text-align: center;
  border: 2px solid black;
  margin-top: 70px;
  margin-bottom: 100px;
  justify-content: center;
  font-size:x-large;
  background-color: antiquewhite;
}