.boxlog{
    margin-left: 100px;
    margin-top:5px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 29em;
  }

.entrar{
  margin-left: 100px;
  margin-top:6px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width:6em;
}

.logx{
  display:flex;
  text-align: center;
  margin-left:-500px;
  margin-right: -500px;
  border: 2px solid black;
  margin-top: 100px;
  margin-bottom: 50px;
  justify-content: center;
  font-size:x-large;
  background-color: antiquewhite;
}