.prod{
    margin-left: 300px;
    margin-top:50px;
    margin-bottom: 50px;
    width:40em;
}

.prod .p{
    margin-left: 300px;
    margin-top:50px;
    margin-bottom: 50px;
    width:40em;
}

.problemaV{
  display:flex;
  text-align: center;
  width: 98.4vw;
  border: 2px solid black;
  margin-top: 100px;
  margin-bottom: 50px;
  justify-content: center;
  font-size:x-large;
  background-color: antiquewhite;
}