.prodRec{
  display:flex;
  text-align: center;
  width: 98.4vw;
  margin-left: -150px;
  border: 2px solid black;
  margin-top: 100px;
  margin-bottom: 50px;
  justify-content: center;
  font-size:x-large;
  background-color: antiquewhite;
}

.salvar{
  display: flex;
  margin-top: 50px;
  margin-right: 140px;
  justify-content: center;
}
