
.navbar {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: space-between;
    text-align: center;
    list-style: none;
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
    padding-left: 20px;
    padding-top: 10px;
    height: 30px;
    background-color: #C4C4C4;
    margin-top: 5px;
    margin-bottom: 0px;
    width: auto;
    color: black;
}

.navbar a{
    text-decoration: none;
    color: black;
    margin-right: 15px;
}

.formulario {
    margin-inline-start: 100px;
    margin-inline-end: 120px;
    color: black;
    font-weight: bold;
}

.formulario > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
}

.formulario > div > div > input {
    margin-left: 7px;
}

.formulario > div > div > label{
    margin-left: 5px;
}

.formulario > div > div{
    background-color: #06b6d4;
    border:3px ridge black;
}

.nome{
    height: 21px;
}

.box-nome-dataNasc{
    margin-top: 20px;
}

.botao-enviar{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    margin-top: 30px;
}