.navbar-principal {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: space-between;
    text-align: center;
    list-style: none;
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
    height: 22px;
    padding-right: 1%;
    background-color: #C4C4C4;
    margin-top: 5px;
    margin-bottom: 0px;
    width: auto;
}

.navbar-principal a{
    text-decoration: none;
    color: black;
}

.navbar-principal #categorias{
    cursor: pointer;
}

.navbar-segunda {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: space-between;
    text-align: center;
    list-style: none;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 8px;
    height: 12px;
    padding-right: 1%;
    margin-top: 5px;
    background-color: #544C4C;
}

.navbar-segunda a{
    text-decoration: none;
    color: white;
}

/*CARRINHO CLIENTE */
.cart{
    margin: 20px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
    box-shadow: 2px 2px 4px #F19E9E; /*linhas*/
}

.info-carrinho{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.info-carrinho p{
   display: flex;
}
 th{
     text-align:left;
     padding: 8px;
     color: black;
     background: #F19E9E;
 }

 td{
     padding: 7px 5px;
 }

 td input{
     width: 40px;
     height: 30px;
     padding: 5px;
 }

 td a{
     color: #F19E9E ;
     font-size: 12px;
 }

 td img{
     width: 80px;
     height: 80px;
     margin-right: 10px;
 }

 .total{
     display: flex;
     justify-content: flex-end;
 }

 .total table{
    border-top: 1px solid #F19E9E;
    width: 110%;
    max-width: 480px;
}